html, body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #1DA1F2;
	color: #fff;
	display: inline-block;
	width: 100%;
	justify-content: center;
}
h1 {	
	text-align: center;
	padding: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	width: 20% auto;
	align-items: center;
}

.icon-twitter {
	font-size: 40px;
}

section {
	background-image: url("https://st.depositphotos.com/1828227/3934/v/950/depositphotos_39344689-stock-illustration-fun-doodle-robots-seamless-pattern.jpg");
	height: 700px;
	display: flex;
	justify-content: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#container {
	height: auto;
	width: 400px;
	display: block;
	margin: 20px;
	padding: 20px;
	background: #fff;
}

input {
	font-size: 16px;
	height: 20px;
	width: 370px;
	border-radius: 5px;
	border: solid #1DA1F2 1px;
	padding: 3px;
}

p {
	border: 10px;
	padding: 
}

#counter {
	font-size: 14px;
	font-weight: bold;
}

button{
	border-radius: 10px;
	border: none;
}

